/AtributosDeclaradosTest.class
/FurgonetaPropiaJUnitTest.class
/FurgonetaSubcontratadaJUnitTest.class
/GestionRepartoJUnitTest.class
/GestionRepartoLocalJUnitTest.class
/MotoJUnitTest.class
/ObligGestionRepartoJUnitTest.class
/ObligGestionRepartoLocalJUnitTest.class
/PedidoJUnitTest.class
